/* Media-Queries - RESPONSIVE */

/* MOBILE (max 768px) */
@media (max-width: 768px) {

    /* Section */
    .container-section {
        margin-top: 80px !important;
        padding: 0 15px;
    }

    /* Header - Hamburger Menu */
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        padding: 15px;
        justify-content: space-between;
    }

    .logo-circle {
        order: 1;
        flex: 1;
    }

    #menu-toggle {
        display: none;
    }

    .menu-hamburger-component {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 2;
        z-index: 110;
        cursor: pointer;
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0 auto;
    }

    /* 3 Lines Icon Hamburger Menu */
    .menu-hamburger-component::before,
    .menu-hamburger-component::after,
    .menu-hamburger-component span {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: var(--text-dark);
    }

    .contact-us {
        order: 3;
        text-decoration: none;
        text-align: right;
    }

    /* Menú Unfolded (bottom icon) */
    .nav-links {
        position: absolute;
        top: 100%;
        left: 65%;
        width: 200px;
        background-color: var(--Primary);
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        z-index: 100;
        transition: all 0.3s ease;
        list-style: none;
        margin: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        /* At first */
        border-radius: 0 0 8px 8px;
    }

    #menu-toggle:checked~.nav-links {
        opacity: 1;
        visibility: visible;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .nav-links a {
        color: white !important;
        font-size: 1rem;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 8px 15px;
        transition: background-color 0.2s;
    }

    /* Hero Section */
    .hero-section {
        flex-direction: column;
        align-items: center;
    }

    .hero-content,
    .hero-image {
        max-width: 90%;
        min-width: 35ch;
        margin: 0 auto;
    }

    .hero-content h1 {
        font-size: 2rem !important;
    }

    .hero-image {
        order: 1;
        margin-top: 50px;
    }

    .person-wrapper {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .floating-card {
        width: 150px;
    }

    /* Grids */
    .services-container,
    .projects-container {
        grid-template-columns: 1fr !important;
        gap: 30px;
    }

    /* Forms */
    #newsletter-mail,
    .form-row {
        grid-template-columns: 1fr !important;
    }

    /* Logos */
    .logos-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .logos-container img:nth-child(4) {
        grid-column: 1;
    }

    .logos-container img:nth-child(5) {
        grid-column: 3;
    }

    /* Testimonials */
    .testimonial-section q {
        width: 90% !important;
    }

    .emojis-container img {
        width: 50px !important;
        height: 50px !important;
    }

    /* Newsletter */
    #newsletter {
        line-height: 1;
        padding: 50px;
    }

    .newsletter-section h3 {
        font-size: 1.5rem !important;
        margin: 25px;
    }

    .newsletter-section {
        grid-template-columns: 1fr !important;
        text-align: center;
        padding: 20px;
    }

    .newsletter-section input {
        margin-bottom: 15px;
    }

    /* Footer */
    .footer-section {
        grid-template-columns: 1fr;
        text-align: left;
        padding: 20px;
    }

    .footer-links ul {
        grid-template-columns: 1fr;
        padding: 0;
        gap: 10px;
        text-align: left;
    }

    .footer-content address {
        margin: 0 auto;
    }

    .footer-content address p {
        text-align: center;
    }

    /* Scroll-Up-Component */
    .scroll-up-component {
        right: -25px;
    }
}

/* TABLET (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

    .services-container,
    .projects-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}