<footer>
    <div class="footer-section">
        <div class="footer-content">
            <div class="logo-footer">
                <a href="./index.html">
                    <img src="./assets/images/logos/circle.svg" alt="Circle Agency Logo" /></a>
            </div>
            <address>2972 Westheimer Rd. Santa Ana, Illinois 85486</address>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Team</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>