<header>
    <nav>
        <div class="logo-circle">
            <a href="./index.html"><img src="./assets/images/logos/circle.svg" alt="Circle Agency Logo" /></a>
        </div>
        <input type="checkbox" id="menu-toggle" style="display: none;">
        <label for="menu-toggle" class="menu-hamburger-component">
            <span></span>
        </label>
        <ul class="nav-links">
            <li><a href="./#">Home</a></li>
            <li><a href="#other-projects">Projects</a></li>
            <li><a href="#services">Services</a></li>
        </ul>
        <a class="contact-us" href="./contact.html">Contact Us</a>
    </nav>
</header>